* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, app-root {
	height: 100%;
}

body {
	min-height: 100vh;
	background: linear-gradient(135deg, #adecfa 0%, #a9e3f7 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden; 
}